{
  "presets": [
    ["next/babel",{
        "preset-env": {
          "targets": {
            "browsers": [
              "ios >= 10",
              "safari >= 10",
              "chrome >= 60",
              "edge >= 15",
              "firefox >= 55"
            ],
            "uglify": true
          }
        }
      }
    ]
  ]
}