{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              "android > 4.4.4",
              "ios > 10.2"
            ]
          }
        }
      }
    ]
  ]
}