$colorTheme: #ff8300;
body {
  padding: 0;
  margin: 0;
}
.seatMap {
  padding-left: 15px;
  padding-right: 15px;
}
.seatMapDisplay {
}
.seatMapDisplay__group {
  margin-bottom: 1rem;
  &.isPremium {
    .seatMapDisplay__cell {
      &:not(.selected) {
        background-color: #9EDFBC;
        color: #000;
      }
    }
  }
  &.isPrivilege {
    .seatMapDisplay__cell {
      &:not(.selected) {
        background-color: #EBBBBD;
        color: #000;
      }
    }
  }
}
.seatMapDisplay__title {
  margin-bottom: 0.5rem;
}
.seatMapDisplay__row {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  direction: rtl;
  text-align: center;
  margin-bottom: 0.3rem;
  &-title {
    font-size: 0.6rem;
  }
}
.seatMapDisplay__cell {
  background-color: darken(#fff, 10%);
  color: darken(#fff, 40%);
  font-size: 2.3vw;
  padding: 0.3rem 0;
  &-title {
    font-weight: bold;
    background-color: darken(#fff, 20%) !important;
    color: darken(#fff, 90%) !important;
  }
  &.notAllowed {
    opacity: 0.4;
  }
  &.selected {
    background-color:#000;
    color: #fff;
  }
}
.ticketResult {
  border-top: 1px solid darken(#fff, 10%);
  font-size: 0.7rem;
  &__lists {
    display: flex;
  }
  &__list {
    flex-basis: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  &__selectedAndPrice {
    border-top: 1px solid darken(#fff, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
      padding: 1rem 0;
    }
  }
  &__selectedLists {
    font-size: 0.6rem;
    word-break: break-word;
  }
  &__totalPrice {
    font-weight: bold;
    font-size: 0.7rem;
    white-space: nowrap;
    padding-left: 0.5rem;
  }
}
.seatMapSubmit {
  text-align: center;
  background-color: $colorTheme;
  color: #fff;
  padding: 0.5rem 0;
  &:active {
    background-color: darken($colorTheme, 10%);
  }
}