@mixin buttonTheme($colorBG, $colorText) {
  background-color: $colorBG;
  display: inline-block;
  color: $colorText;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  min-width: 13rem;
}