@mixin buttonTheme($colorBG, $colorText) {
  background-color: $colorBG;
  display: flex;
  justify-content: center;
  padding: .6rem 0;
  margin: 0.5rem auto;
  width: 200px;
  color: $colorText;
  border-radius: 4px;
  text-decoration: none;
}