.highlight__poster{
  width: 100%;
  height: auto;
  @media (device-height: 568px) and (min-width:320px) {
    height: 40vh;
  }
}

.poster-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media(min-width:320px){
    width: 56.25vw;
    height: auto;
  }
  @media(min-width:375px) and (min-height:812px){
    width: 56.25vw;
    height: auto;
  }
  @media(min-width:414px){
    width: 56.25vw;
    height: 55vh;
  }
  @media(min-height:720px){
    width: 56.25vw;
    height: 55vh;
  }
  @media (device-height: 568px) and (min-width:320px) {
      height: 38vh;
    }
}

.highlight__book-btn,.allmovie-btn{
  @media(min-width:320px){
    width: 56.25vw;
    margin: 0.2rem auto;
  }
  @media(min-width:375px) and (min-height:812px){
    width: 56.25vw;
    margin: 0.2rem auto;
  }
  @media(min-width:414px){
    width: 56.25vw;
    margin: 0.2rem auto;
  }
  @media(min-height:720px){
    width: 56.25vw;
    margin: 0.2rem auto;
  }
  @media (device-height: 568px) and (min-width:320px) {
    width: 27vh;
  }
}

.date-filter{
  @media (device-height: 568px) and (min-width:320px) {
    margin-top: 18px;
  }
}

.highlight__advance{
  @media(min-width:375px) {
    top:5%;
  }
  @media(min-width:414px){
    top:10%;
  }
  @media (device-height: 568px) and (min-width:320px) {
    top:0;
  }
}

.movie-card__img-wrap{
  @media(min-width:375px) {
    height: 24vh;
  }
  @media(min-width:375px) and (min-height:812px){
    height: 27vh;
  }
  @media(min-width:414px){
    height: 25vh;
  }
  @media (device-height: 568px) and (min-width:320px) {
    height: 21vh;
  }
}