.highlight__poster{
  width: 100%;
  height: auto;
}

.poster-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(min-width:320px){
    width: 56.25vw;
    height: auto;
  }
  @media(min-width:375px) and (min-height:812px){
    width: 56.25vw;
    height: auto;
  }
  @media(min-width:414px){
    width: 56.25vw;
    height: 55vh;
  }
  @media(min-height:720px){
    width: 56.25vw;
    height: 55vh;
  }
}

.highlight__book-btn,.allmovie-btn{
  @media(min-width:320px){
    width: 56.25vw;
  }
  @media(min-width:375px) and (min-height:812px){
    width: 56.25vw;
  }
  @media(min-width:414px){
    width: 56.25vw;
  }
  @media(min-height:720px){
    width: 56.25vw;
  }
}