
:root{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-display: swap;
}

.loading{
  position: absolute;top: 40%;left: 50%;transform: translateX(-50%);
}

.sprite{
  background: url('../static/MajorGroupSprite.png') no-repeat;
  display: inline-block;
  vertical-align: middle;
  &-2dDigital{
    @extend .sprite;
    background-position: -258px -300px; 
    width: 48px;
    height: 25px;
    margin: 5px;
    }
  &-quatierCine{
    @extend .sprite;
    background-position: -20px -20px; 
    width: 50px;
    height: 50px;
    margin: 5px;
    }
  &-favCinema{
    @extend .sprite;
    background-position: -11px -336px; 
    width: 18px;
    height: 18px;
    margin: 5px;
      &.active{
        background-position: -33px -336px; 
      }
    }
  &-favFilled{
    @extend .sprite;
    background-position: -33px -336px; 
    width: 18px;
    height: 18px;
    margin: 5px;
    }
  &-earestCinema{
    @extend .sprite;
    background-position: -11px -359px; 
    width: 18px;
    height: 18px;
    margin: 5px;
    }
  &-chevronDown{
    @extend .sprite;
    background-position: -14px -382px; 
    width: 12px;
    height: 7px;
    margin: 5px;
    position: absolute;
    right: 15px;
    transition: 200ms;
      &.active{
        transform: rotate(180deg);
      }
    }
  }

  .allmovie-btn{
    text-align:center;
    display:block;
    padding:10px;
    text-decoration:none;
    border: 1px solid #bbb;
    border-radius: 8px;
    color:#737373;
  }

.highlight{
  margin-top: 10vh;
  text-align: center;
  &__poster{
    width:auto;
    height: calc((100vh / 100) * 40);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  &__title{
    display: block
  }
  &__subtitle{
    color: #383D48;
    font-size: 14px;
    display: block
  }
  &__genre{
    color: #989FAE;
    font-size: 12px;
    display: block
  }
  &__book-btn{
    background-color: #ff8300;
    display: flex;
    justify-content: center;
    padding: .6rem 0;
    margin: 0.5rem auto;
    width: 200px;
    color:#fff;
    border-radius: 4px;
    text-decoration: none;
  }
}
.showing{
  &__container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: .5rem;
    padding-bottom: 4rem;
    margin-top: 65px;
  }
  &__cell{
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  &__poster{
    width: 90px;
    height: 140px;
    box-shadow: #505050 0px 5px 10px 0;
    &--lazy{
      width: 90px;
      height: 140px;  
      box-shadow: 0;
    }
  }
  &__title{
    padding: 0.5rem 0;
    text-align: center;
    line-clamp: 2;
    font-size: 0.875rem;
    color:#383D48;
  }
}

.comingsoon{
  margin-top: 75px;
  &__header{
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
  }
  &__container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: .5rem;
    padding-bottom: 4rem;
  }
  &__cell{
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  &__poster{
    width: 90px;
    height: 140px;
    box-shadow: #505050 0px 5px 10px 0;
  }
  &__title{
    padding: 0.5rem 0;
    text-align: center;
    text-overflow: ellipsis; 
    line-clamp: 2;
    font-size: 0.875rem;
    color:#383D48;
  }
}

.card-cinema{
  box-shadow: 0px 0px 15px 1px rgba(151, 151, 151, 0.35);
  border-radius: 4px;
  &__header{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 0 0 #E9EBEF;
    margin-top: 65px;
    &__title{
      color:#757D8C;
      font-size: 0.875rem;
      font-weight: normal;
    }
  }
  &__container{
    display: unset;
    &.active{
      display: none;
    }
  }
  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    transition: 500ms;
    position: relative;
    z-index: 5;
  }
  &__CineTitle{
    width: 70%;

  }
  &__CineName{
    font-size: 1rem;
    color:#383D48;
  }
  &__CineDistant{
    font-size: 0.6875rem;
    color:#989FAE;
  }
}

.cinema__regional{
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 1px 0 0 #e9ebef;
    border: 1px solid #F5F6F8;
    background-color: #fff;
  }
  &__title{
    color:#757D8C;
    font-size: 0.875rem;
    margin-left: 10px;
    font-weight: normal;
  }
  &__body{
    padding:0.6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.indexTab{
  .react-tabs{
      &__tab-list{
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 0;
        margin: 0 0;
        list-style: none;
        width: 100vw;
        z-index: 5;
      }
      &__tabs-container{
        display: flex;
        justify-content: space-around;
        box-shadow: #000 0 2px 4px 0;
        background-color: #fff;
      }
      &__tab{
        text-align: center;
        color:#989FAE;
        padding: 1rem 0;
        height: 20px;
        &--selected{
          border-top: 3px solid #ff8200;
        }
      } 
    }
  &__cinema{
    .react-tabs{
      &__tab-list{
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 0;
        margin: 0 0;
        list-style: none;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        z-index: -1;
      }
      // &__tabs-container{
      //   display: flex;
      //   justify-content: space-around;
      //   box-shadow: #000 0 2px 4px 0;
      //   background-color: #fff;
      // }
      &__tab{
        text-align: center;
        color:#989FAE;
        padding: 1rem 0;
        width: 50%;
        top:0;
        &--selected{
          border-bottom: 3px solid #ff8200;
          color:#ff8200;
          border-top: 0;
        }
      } 
    }
  }
}

.allmovieTab{
  .react-tabs{
      &__tab-list{
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 0;
        margin: 0 0;
        list-style: none;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
      }
      &__tabs-container{
        display: flex;
        justify-content: space-around;
        box-shadow: #000 0 2px 4px 0;
        background-color: #fff;
      }
      &__tab{
        text-align: center;
        color:#989FAE;
        padding: 1rem 0;
        width: 50%;
        &--selected{
          border-bottom: 3px solid #ff8200;
          color:#ff8200;
        }
      } 
    }
}
  